.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
  .mat-tab{
   /* width: theme.spacing(9), */
   /* width:9000px; */
  
   height: '100%';
   position : 'absolute';
   justify-content : 'space-between'; 
 }
  /* mat-tab-group {
  background-color:#3f51b5;
 } */
/* .mat-tab-body-wrapper {
  color: white;
  background-color: red;
} */
/* .mat-tab-label.mat-tab-label-active {
  background-color: #3f51b5;
} */

mat-icon{
  cursor:pointer;
}
#home{
position: relative;
top:3px;
}
i{
display: inline;
}
.example-form {
  min-width: 100px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 80%;
}

.example-option-img {
  vertical-align: middle;
  margin-right: 8px;
}

[dir='rtl'] .example-option-img {
  margin-right: 0;
  margin-left: 8px;
}