<!-- <div class="row">
<div class="col-md-4 bg-basic text-dark" *ngFor="let i of prodlist">
<mat-card>
  <mat-card-title class="text-center text-info">
    {{ i.pName }}
  </mat-card-title>
  <mat-card-content>
    <img src="{{ i.image }}" alt="shoes picture">
  </mat-card-content>
  <mat-card-subtitle class="text-primary">
    {{ i.pDescription }}
  </mat-card-subtitle>
  <mat-card-content>
    {{ i.price | currency : 'INR' }}
  </mat-card-content>
  <mat-card-content>
      <span class="text-right">Rating: <span class="badge badge-primary">{{ i.pRating }}</span></span>
    </mat-card-content>

</mat-card>
</div>
</div> -->

<div class="row">
    <div class="col-sm-3" *ngFor="let i of prodlist">
    <div class="card">
      <div class="card-body text-center">
         <img id="choicetest" class="card-img-top" height=150px width=100px src="{{ i.image }}" (click)="displayproduct(i)">
        <table class="text-center">
          <tr><td>{{ i.pName }}</td></tr>
          <tr><td>{{ i.pDescription }}</td></tr>
          <tr><td style="text-align: center" >{{ i.price | currency : 'INR' }}</td>
            <td><span class="badge badge-primary">{{ i.pRating }}</span></td></tr>
        </table>
      </div>
    </div>
  </div>
</div>


