
<div class="row" *ngIf="!show">
  <div class="col-md-4 offset-md-4">
    <div class="card bg-basic text-dark">
      <div class="card-body">
        <div class="card-title">
          <h3>Add a Product</h3>
        </div>
        <form [formGroup]="productForm" (ngSubmit)="sellerProduct()">
              <div class="form-group">
                  <label for="pName">Product Name</label>
                  <input type="text" placeholder="iPhone XS Max" class="form-control" formControlName="pName" id="pName">
                  <div id="pNameError">
                    <span class="text-danger"
                      *ngIf="productForm.controls.pName.touched && productForm.controls.pName.errors?.required">Field
                      required</span>
                  </div>
                </div>
            <div class="form-group">
                <label for="pCategory">Product Category</label>
                <input type="text" formControlName="pCategory" placeholder="Electronics" class="form-control" id="pCategory">
                <div id="pCategoryError">
                  <span class="text-danger"
                    *ngIf="productForm.controls.pCategory.touched && productForm.controls.pCategory.errors?.required">Field
                    required</span>
                  <span class="text-danger" *ngIf="productForm.controls.pCategory.errors?.pattern  && productForm.controls.pCategory.dirty">Username
                    can have only alphabets</span>
                </div></div>
                <div class="form-group">
                    <label for="price">Product Price</label>
                    <input type="number" formControlName="price" placeholder="50000" class="form-control" id="price">
                    <div id="priceError">
                      <span class="text-danger"
                        *ngIf="productForm.controls.price.touched && productForm.controls.price.errors?.required">Field
                        required</span>
                      <span class="text-danger" *ngIf="productForm.controls.price.errors?.min  && productForm.controls.price.dirty">
                        Price should be greater than Zero</span>
                    </div></div>
                    <div class="form-group">
                      <label for="pQuantity">Product Quantity</label>
                      <input type="number" formControlName="pQuantity" placeholder="200" class="form-control" id="pQuantity">
                      <div id="pQuantityError">
                        <span class="text-danger"
                          *ngIf="productForm.controls.pQuantity.touched && productForm.controls.pQuantity.errors?.required">Field
                          required</span>
                        <span class="text-danger" *ngIf="productForm.controls.pQuantity.errors?.min  && productForm.controls.pQuantity.dirty">
                          Quantity should be greater than Zero</span>
                      </div></div>
                    <div class="form-group">
                        <label for="pDiscount">Product Discount</label>
                        <input type="number" formControlName="pDiscount" placeholder="0.2" class="form-control" id="pDiscount">
                        <div id="pDiscountError">
                          <span class="text-danger"
                            *ngIf="productForm.controls.pDiscount.touched && productForm.controls.pDiscount.errors?.required">Field
                            required</span>
                          <span class="text-danger" *ngIf="productForm.controls.pDiscount.errors?.min  && productForm.controls.pDiscount.dirty">
                              Discount should be greater than Zero</span>
                        </div></div>
            <div>
              <label>
                <button type="submit" class="btn btn-primary" id="productaddition" [disabled]="productForm.invalid">Add Product</button>
              </label>
            </div>

        </form>
        <span *ngIf="successMsg" class="text-success">{{ successMsg }}</span>
        <span *ngIf="errorMsg" class="text-danger">{{ errorMsg }}</span>
      </div>
    </div>
  </div>
</div>